#root{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-container{
    width: 80%;
    padding:0;
}
.margin-bottom{
    margin-bottom: 1.5rem;
}
main{
    margin: 2rem 0;
}
.hide-overflow{
    overflow: hidden;
}
@media screen and (max-width: 610px){
    .app-container{
        width: 90%;
    }
}
