.picture-width{
    width: 100%;
    margin-bottom: 2rem;
}
.margin-col-right{
    margin-right: 2rem;
}
.no-padding{
    padding: 0;
}
.red-button{
    border:none;
    padding: 0.5rem 1.5rem;
    background-color:hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    letter-spacing: 0.2rem;
    transition: background-color 0.5s linear;
}
h1{
    font-weight: 800;
    color: hsl(240, 100%, 5%);
}
.red-button:hover{
    cursor: pointer;
    transition: background-color 0.5s linear;
    background-color:hsl(240, 100%, 5%);
}
.article-description{
    color:hsl(236, 13%, 42%);
}
